@import "tailwindcss";
@source "../views";

@theme {
    --font-primary: "Poppins", sans-serif;

    --color-primary: #6041CE;
    --color-secondary: #FB8500;
    --color-ternary: #03045E;

    --color-dark-text: #333333;
    --color-primary-text: #6041CE;
    --color-secondary-text: #FB8500;
  }

@keyframes ripple-animation {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(4);
        opacity: 0;
    }
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.6);
    animation: ripple-animation 0.6s linear;
}

.button-primary {
    @apply relative px-[16px] py-2 h-[40px] text-sm bg-primary text-white font-semibold rounded-[8px] transform transition-all duration-300 ease-in-out hover:bg-[#4B30AA] hover:scale-105 hover:shadow-lg flex items-center justify-center gap-2 cursor-pointer sm:px-[24px] sm:py-3 sm:h-[48px] sm:text-base sm:rounded-[12px];
    overflow: hidden;
}

.button-secondary {
    @apply relative px-[16px] py-2 h-[40px] text-sm bg-secondary text-white font-semibold rounded-[8px] transform transition-all duration-300 ease-in-out hover:bg-[#C86A00] hover:scale-105 hover:shadow-lg flex items-center justify-center gap-2 cursor-pointer sm:px-[24px] sm:py-3 sm:h-[48px] sm:text-base sm:rounded-[12px];
    overflow: hidden;
}

.input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-[#6041CE] focus:outline-none bg-white/70;
}

.sidebar-menu-button {
    @apply flex items-center py-4 px-4 rounded rounded-2xl hover:bg-[#DFD9F5] text-sm text-gray-800;
}

.sidebar-menu-button.sidebar-active:hover {
    @apply bg-none; 
    cursor: default; 
    @apply bg-[#6041CE] text-white font-semibold;
}

.sidebar-active {
    @apply bg-[#6041CE] text-white font-semibold;
}